<div id="nav-bg">
  <nav id="top-nav">
    <a href="/" id="logo">./missing-semester</a>
    <input type="checkbox" id="menu-icon">
    <label class="menu-label" for="menu-icon"></label>
    <div class="trigger">
      <div class="trigger-child">
        <span class="nav-link"><a href="/2020/">講座列表</a></span>
        <span class="nav-link"><a href="/about/">關於本課程</a></span>
        <span class="nav-link"><a href="https://missing.csail.mit.edu/">English</a></span>
        <span style="float: right;margin: 3px;padding-right:15px">
          <a href="https://github.com/missing-semester-zh-hant/missing-semester-zh-hant.github.io/stargazers">
            <img alt="GitHub stars" src="https://img.shields.io/github/stars/missing-semester-zh-hant/missing-semester-zh-hant.github.io?style=social">
          </a>
        </span>
        <span style="float: right;margin: 3px;padding-right:15px"> 
          <a href="https://github.com/missing-semester-zh-hant/missing-semester-zh-hant.github.io">
            <img alt="GitHub forks" src="https://img.shields.io/github/forks/missing-semester-zh-hant/missing-semester-zh-hant.github.io?style=social">
          </a>
        </span>
      </div>
    </div>
  </nav>
</div>
